# foohidlservices app
type FooJniServices, domain;
app_domain(FooJniServices)
# # gpu_access(foohidlservices)

allow FooJniServices hal_mysubpackage_hwservice:hwservice_manager find;
allow FooJniServices hal_mysubpackage_default:binder call;

# Use system services exposed as part of Android framework public API
allow FooJniServices app_api_service:service_manager find;

# Read and write /data/data subdirectory (for its app-private persistent data).
allow FooJniServices app_data_file:dir create_dir_perms;
allow FooJniServices app_data_file:{ file lnk_file } create_file_perms;

